:root {
  --shadow: 0 0.1rem 1.5rem 0 rgb(22 39 86 / 10%);
  --shadow-2: rgb(0 17 51 / 7%) 0px 3px 15px;
  --shadow-3: 0 0.3rem 1.8rem 0 rgb(22 39 86 / 40%);
  --radius: 5px;
  --varela-font: "Varela Round", sans-serif !important;
  --karla-font: 'Karla', sans-serif !important;
  --markazi-font: 'Markazi Text', serif !important;
  --green: #495E57;
  --yellow: #F4CE14;
  --brown: #EE9972;
  --creem: #FBDABB;
  --light: #EDEFEE;
  --dark: #333333;
}

@font-face {
  font-family: 'Varela Round';
  src: url(assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: 'Karla';
  src: url(assets/fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: 'Markazi Text';
  src: url(assets/fonts/MarkaziText-Medium.ttf);
}

.app {
  font-family: var(--varela-font);
}

.header-nav {
  background-color: var(--light);
  box-shadow: var(--shadow-2);
}

.nav-link {
  color: var(--dark) !important;
}

.nav-link:hover {
  color: var(--brown) !important;
}


.login-btn {
  border: 2px solid var(--green) !important;
  color: var(--dark) !important;
  transition: all .7s !important;
}

.login-btn:hover {
  background-color: var(--green) !important;
  border: 2px solid var(--green) !important;
  color: var(--light) !important;
}


.login-card {
  width: 61rem !important;
  height: 80vh !important;

}

.login-card-img {
  height: 80vh !important;

}


/* Hero Section */

.hero {
  background-color: var(--green);
  padding: 1.6rem;
}

.hero h2 {
  color: var(--yellow);
}

.hero p {
  width: 18rem;
}

.hero .reserve-btn {
  background-color: var(--yellow);
  padding: 10px 20px !important;
  transition: all .5s !important;
}

.hero .reserve-btn:hover {
  background-color: var(--creem);
  color: #000;
}

.hero-image {
  width: 260px;
  height: 20rem;
  border-radius: 15px;
  position: absolute;
  margin: 1rem 0 0 0;
}


@media screen and (max-width: 767px) {
  .hero-image {
    width: 215px;
    height: 15rem;
    margin: 4rem 0 0 3.4rem;
  }
}


@media screen and (max-width: 575px) {
  .hero {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .hero-image {
    width: 100%;
    height: 90%;
    position: relative;
    margin: 26px 0 0 0 !important;
  }
}



/* Reservation Section */


.overlay {
  background-color: #0000008a;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.reservations {
  background-image: url('assets/images/restaurant.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100vh !important;
  width: 100% !important;
}

.reservations-card {
  width: 27% !important;
  border-radius: 15px !important;
}

.reserve-image {
  width: 100% !important;
  border-radius: 10px !important;
  box-shadow: var(--shadow-3) !important;
}

.confirm-btn{
  background-color: var(--green) !important;
  color: #fff !important;
  transition: all .7s !important;
}

.confirm-btn:hover{
  background-color: var(--creem) !important;
  color: #000 !important;
}


@media screen and (max-width: 1480px) {
  .reservations-card {
    width: 42% !important;
  }
}

@media screen and (max-width: 1180px) {
  .reservations-card {
    width: 46% !important;
  }
}

@media screen and (max-width: 960px) {
  .reservations-card {
    width: 54% !important;
  }
}

@media screen and (max-width: 780px) {
  .reservations-card {
    width: 75% !important;
  }
}