:root {
  --shadow: 0 0.1rem 1.5rem 0 rgb(22 39 86 / 10%);
  --shadow-2: rgb(0 17 51 / 7%) 0px 3px 15px;
  --radius: 5px;
  --font-family: "Varela Round", sans-serif !important;
  --green: #495E57;
  --yellow: #F4CE14;
  --brown: #EE9972;
  --creem: #FBDABB;
  --light: #EDEFEE;
  --dark: #333333;
}

@font-face {
  font-family: 'Varela Round';
  src: url(assets/fonts/VarelaRound-Regular.ttf);
}

.app {
  font-family: var(--font-family);
}

.header-nav {
  background-color: var(--light);
  box-shadow: var(--shadow-2);
}

.nav-link {
  color: var(--dark) !important;
}

.nav-link:hover {
  color: var(--brown) !important;
}


.login-btn {
  border: 2px solid var(--yellow) !important;
  color: var(--dark) !important;
  transition: all .3s !important;
}

.login-btn:hover {
  background-color: var(--brown) !important;
  border: 2px solid var(--brown) !important;
  color: var(--light) !important;
}